table {
	table-layout: fixed;
}

table th,table td {
	overflow: hidden;
}

div.propVal {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	height: 20px;
}

div.propVal form {
	display: inline;
	vertical-align: top;
	margin: 0px;
}

div.propVal input {
	margin: 0px;
	padding: 0px 2px;
}
.hidden {
	display: none;
}